= egov_breadcrumbs do |breadcrumbs|
  - breadcrumbs << link_to( @redemption.claim.file_uid, @redemption.claim )
  - breadcrumbs << link_to( Debt.model_name.human(count: :other), @redemption.claim )
  - breadcrumbs << link_to( @redemption.debt.offender.person.fullname, @redemption.debt )
  - breadcrumbs << link_to( Redemption.model_name.human(count: :other), @debt )
  - breadcrumbs << @redemption.payment.payment_uid

- formatter = attribute_formatter_for(schema = RedemptionSchema.new)
.attribute
  .label= Claim.model_name.human
  .value= link_to(@redemption.claim.file_uid, @redemption.claim)
.attribute
  .label= Debt.model_name.human
  .value= link_to(@redemption.debt.offender.person.fullname, @redemption.debt)
- if @redemption.debt.offender.person.natural?
  = formatter.labeled_html_attribute_value(schema.attribute('debt-offender-person-natural_person-birth_date'), @redemption)
.attribute
  .label= Payment.human_attribute_name('value')
  .value
    = Money.from_amount(schema.attribute('payment-value').value(@redemption), @redemption.payment.currency_code.upcase).format
    = ' ( z '
    = Money.from_amount(schema.attribute('debt-value').value(@redemption), 'CZK').format
    = ' )'
= formatter.labeled_html_attribute_value(schema.attribute('payment-status'), @redemption)
= formatter.labeled_html_attribute_value(schema.attribute('payment-paid_at'), @redemption)

