- claim ||= debt.claim
- if claim.try(:persisted?)
  = form.hidden_field(:claim_id)
- else
  %h5= Claim.model_name.human
  = form.fields_for(:claim, claim || Claim.new) do |fields|
    = render 'claims/form', form: fields, claim: fields.object

.offender
  %h5= Offender.model_name.human
  - if claim.try(:persisted?)
    = form.select2(:offender_id, {url: offenders_path(f: {claim_id: claim.id})}, {prompt: t('label_new_offender_in_claim'), skip_label: true}, id: 'debt_offender_id')
  .offender-attributes
    = form.fields_for(:offender, debt.offender || Offender.new) do |fields|
      = render 'offenders/form', form: fields, offender: fields.object

= form.select(:debt_type, enum_values_for_select(debt.class, :debt_type), {}, id: 'debt_type')
= form.text_field(:value, id: 'debt_value')

:javascript
  $(function(){
    var $debt_type = $('#debt_type');
    $('#debt_value').parent().toggle( $debt_type.val() == 'financial' || $debt_type.val() == 'forfeiture_substitute' || $debt_type.val() == 'confiscation_substitute' );
    $debt_type.on('change', function(evt){
      var v = $(this).val();
      $('#debt_value').parent().toggle( v == 'financial' || v == 'forfeiture_substitute' || v == 'confiscation_substitute' );
    });

    var $offender_select = $('#debt_offender_id');
    eGovUtilities.toggableForm($offender_select, 'offender');

  });
