- if debt.claim.try(:persisted?)
  = form.hidden_field(:claim_id)
- else
  = form.fields_for(:claim, debt.claim || Claim.new) do |fields|
    = render 'claims/form', form: fields, claim: fields.object

%h5= Offender.model_name.human
= form.fields_for(:offender, debt.offender || Offender.new) do |fields|
  = render 'egov_utils/people/form', form: fields, person: fields.object

= form.text_field(:value)
