= egov_breadcrumbs do |breadcrumbs|
  - breadcrumbs << link_to( @debt.claim.file_uid, @debt.claim )
  - breadcrumbs << link_to( Debt.model_name.human(count: :other), @debt.claim )
  - breadcrumbs << link_to( @debt.offender.person.fullname, @debt )

- schema = DebtSchema.new
- formatter = attribute_formatter_for(schema)
= formatter.labeled_html_attribute_value(schema.attribute('claim-court_uid'), @debt)
.attribute
  .label= formatter.attribute_html_label(schema.attribute('claim-file_uid'))
  .value= link_to(formatter.html_formatted_value(schema.attribute('claim-file_uid'), @debt), @debt.claim)
= formatter.labeled_html_attribute_value(schema.attribute('claim-binding_effect'), @debt)
.attribute
  .label= Offender.model_name.human
  .value= @debt.offender.person.fullname
- if @debt.offender.person.natural?
  = formatter.labeled_html_attribute_value(schema.attribute('offender-person-natural_person-birth_date'), @debt)
= formatter.labeled_html_attribute_value(schema.attribute('debt_type'), @debt)
.attribute
  .label= Debt.human_attribute_name('value')
  .value= @debt.value.nil? ? unfilled_attribute_message : Money.from_amount(@debt.value, @debt.currency_code.upcase).format
- pp @debt.value
- pp schema.attribute('sum:redemptions-payment-value').value(@debt)
= formatter.labeled_html_attribute_value(schema.attribute('sum:redemptions-payment-value'), @debt)

.actions.text-center
  = link_to t('label_edit'), edit_debt_path(@debt), class: 'btn btn-secondary'

.redemptions
  %h4= Redemption.model_name.human(count: :other)
  = render @redemption_schema, filters: false, show_toolbar: true, create_attributes: {claim_id: @debt.claim.id, debt_id: @debt.id}, allow_delete: true
