= egov_breadcrumbs do |breadcrumbs|
  - breadcrumbs << link_to( @state_budget_item.claim.file_uid, @state_budget_item.claim )
  - breadcrumbs << link_to( Debt.model_name.human(count: :other), @state_budget_item.claim )
  - breadcrumbs << link_to( @state_budget_item.debt.offender.person.fullname, @state_budget_item.debt )
  - breadcrumbs << link_to( StateBudgetItem.model_name.human(count: :other), @debt )
  - breadcrumbs << @state_budget_item.payment.payment_uid

- formatter = attribute_formatter_for(schema = StateBudgetItemSchema.new)
.attribute
  .label= Claim.model_name.human
  .value= link_to(@state_budget_item.claim.file_uid, @state_budget_item.claim)
.attribute
  .label= Debt.model_name.human
  .value= link_to(@state_budget_item.debt.offender.person.fullname, @state_budget_item.debt)
- if @state_budget_item.debt.offender.person.natural?
  = formatter.labeled_html_attribute_value(schema.attribute('debt-offender-person-natural_person-birth_date'), @state_budget_item)
.attribute
  .label= Payment.human_attribute_name('value')
  .value= Money.from_amount(schema.attribute('payment-value').value(@state_budget_item), @state_budget_item.payment.currency_code.upcase).format
= formatter.labeled_html_attribute_value(schema.attribute('payment-status'), @state_budget_item)
= formatter.labeled_html_attribute_value(schema.attribute('payment-paid_at'), @state_budget_item)

= link_to( state_budget_item_path(@state_budget_item, format: :pdf), class: 'btn btn-secondary' ) do
  %i.far.fa-file-pdf
  = t('label_approvement_paper')
