- court_uid_attribute = CourtUidAttribute.new(Claim, 'court_uid')
.court-form
  .row
    .col-12.col-md-6= form.select2(:court_uid, court_uid_attribute.available_values, {}, {class: 'court-uid', id: "claim_court_uid-#{form.object.id}"})
    .col-12.col-md-6= form.fileuid_field(:file_uid, agendas: ['T', 'Tm', 'Nt'], class: 'file-uid-field', id: "claim_file_uid-#{form.object.id}")
    .col-12.merge_container{hidden: true}
      .message= t('notice_claim_merge')
      .btn-container
    .col-12= form.date_field(:binding_effect)
    - if current_user.has_role?('compensator') || current_user.has_role?('admin')
      .col-12.col-md-12= form.text_field(:msp_file_id)
