- formatter = attribute_formatter_for(schema = ClaimSchema.new)
.claim
  .card
    .card-header
      = t('label_informations')
      - if can?(:edit, @claim)
        .btn-group
          = link_to(edit_claim_path(@claim), class: 'btn btn-sm btn-info') do
            %i.fa.fa-pencil-alt
    .card-body
      = formatter.labeled_html_attribute_value(schema.attribute('court_uid'), @claim)
      = formatter.labeled_html_attribute_value(schema.attribute('file_uid'), @claim)
      = formatter.labeled_html_attribute_value(schema.attribute('binding_effect'), @claim)
      - if current_user.has_role?('compensator') || current_user.has_role?('admin')
        = formatter.labeled_html_attribute_value(schema.attribute('msp_file_uid'), @claim)
  .card
    .card-header
      = Claim.human_attribute_name('assigned_to-fullname')
    .card-body
      = formatter.html_formatted_value(schema.attribute('assigned_to-fullname'), @claim)
      - if can?(:assign, @claim)
        = bootstrap_form_for(@claim, layout: :inline) do |f|
          = f.select2(:assigned_to_id, claim_assignable_to(@claim).collect{|u| [u.fullname, u.id]}, {hide_label: true})
          = f.submit(t('button_assign'))

  - if can? :read, Appeal
    .appeals
      %h4= Appeal.model_name.human(count: :other)
      = render @appeals_schema, filters: false, show_toolbar: true, create_attributes: {claim_id: @claim.id}, allow_delete: true

  - if can? :read, Debt
    .redemptions
      %h4= Debt.model_name.human(count: :other)
      = render @debts_schema, filters: false, show_toolbar: true, create_model: Redemption, create_attributes: {claim_id: @claim.id}, allow_delete: true
