.claim
  .attribute
    .label= Claim.human_attribute_name('file_uid')
    .value= @claim.file_uid
  .attribute
    .label= Claim.human_attribute_name('binding_effect')
    .value= @claim.binding_effect || unfilled_attribute_message
- if can? :read, Appeal
  .appeals
    %h4= Appeal.model_name.human(count: :other)
    #appeals_grid
- if can? :read, Debt
  .redemptions
    %h4= Debt.model_name.human(count: :other)
    #debts_grid

:javascript
  #{raw render 'common/grid', grid_id: 'appeals_grid', schema: @appeals_schema, create_attributes: {claim_id: @claim.id}}
  #{raw render 'common/grid', grid_id: 'debts_grid', schema: @debts_schema, create_model: Redemption, create_attributes: {claim_id: @claim.id}}
