.attribute
  .label= Claim.model_name.human
  .value= link_to(@appeal.claim.file_uid, @appeal.claim)
.attribute
  .label= Victim.model_name.human
  .value= @appeal.victim.fullname
.attribute
  .label= Victim.human_attribute_name('birth_date')
  .value= @appeal.victim.birth_date
.attribute
  .label= Appeal.human_attribute_name('amount')
  .value= show_money(@appeal.amount)

#satisfaction_grid

:javascript
  #{raw render 'common/grid', grid_id: 'satisfaction_grid', schema: @satisfaction_schema, create_attributes: {appeal_id: @appeal.id}}
