.attribute
  .label= Claim.model_name.human
  .value= link_to(@appeal.claim.file_uid, @appeal.claim)
.attribute
  .label= Victim.model_name.human
  .value= @appeal.victim.fullname
- if @appeal.victim.natural?
  .attribute
    .label= EgovUtils::NaturalPerson.human_attribute_name('birth_date')
    .value= @appeal.victim.natural_person.birth_date
- elsif @appeal.victim.legal?
  .attribute
    .label= EgovUtils::LegalPerson.human_attribute_name('ico')
    .value= @appeal.victim.legal_person.ico
.attribute
  .label= Appeal.human_attribute_name('amount')
  .value= Money.from_amount(@appeal.amount.to_f, @appeal.currency_code.upcase).format

#satisfaction_grid

:javascript
  #{raw render 'common/grid', grid_id: 'satisfaction_grid', schema: @satisfaction_schema, create_attributes: {appeal_id: @appeal.id}}
