= form.text_field(:value)
- if local_assigns.fetch(:show_currency, true)
  = form.select :currency_code, payment.class.currency_codes.collect{|val, _| [t("activerecord.attributes.#{payment.class.model_name.i18n_key}.currency_code.#{val}"), val]}
- else
  = form.hidden_field(:currency_code)
