= bootstrap_form_for(@payment) do |f|
  - if @payment.claim && @payment.claim.persisted?
    %strong= Claim.human_attribute_name('file_uid') + ': '
    = @payment.claim.file_uid
    = f.hidden_field(:claim_id)
    .offenders.form-group
      = f.select(:offender_id, @payment.claim.payments.reject(&:new_record?).collect(&:offender).unique.collect{|offender| [offender.fullname + ' (' + l(offender.birth_date.to_date) + ')', offender.id] }, {include_blank: t('label_new')}, id: 'offender-select')
  - else
    = f.fields_for(:claim, @payment.claim || Claim.new) do |fields|
      = render 'claims/form', form: fields, claim: fields.object
  .row
    #offender-form.col
      = f.fields_for(:offender, @payment.offender || Offender.new) do |fields|
        = render 'egov_utils/people/form', form: fields, person: fields.object
    .col
      = render 'payments/form', form: f, payment: @payment
  .form-actions
    = f.submit

- if @payment.claim && @payment.claim.persisted?
  :javascript
    $(function(){

      $('#offender-form').toggle($offender_select.val() == '');
      $('#offender-form :input').prop('disabled', $('#offender-select').val() != '');

      $('#offender-select').on('change', function(evt) {
          $('#offender-form').toggle($(this).val() == '');
          $('#offender-form :input').prop('disabled', $(this).val() != '');
      });
    });
