!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : t(:app_name)
    %meta{:name => "description", :content => content_for?(:description) ? yield(:description) : t(:app_description)}
    %meta{name: 'theme-color', content: "#517493"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'modernizr', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
    = i18n_js_set_locales_tag
    = csrf_meta_tags
  %body
    -#%header
    = render 'layouts/navigation'
    %main#container{:role => "main"}
      #content
        .container
          .flash-messages
            = render 'layouts/egov_utils/messages'
          = yield
    %footer
      .container
        .row
          .col-12.text-center.col-sm-6.text-sm-left
            = link_to '/vts_userguide.pdf', target: '_blank', title: t('label_user_guide') do
              %i.fa.fa-file-pdf-o
              = t('label_user_guide')
          .col-12.text-center.col-sm-6.text-sm-right
            = link_to egov_utils.redmine_issues_path, title: t('label_changelog') do
              %i.fa.fa-history
              = t('label_changelog')
          .col-12.col-md-6.notice
            Webové stránky jsou v souladu s
            = link_to 'vyhláškou č. 64/2008 Sb', "http://www.mvcr.cz/clanek/vyhlaska-c-64-2008-sb-o-forme-uverejnovani-informaci-souvisejicich-s-vykonem-verejne-spravy-prostrednictvim-webovych-stranek-pro-osoby-se-zdravotnim-postizenim-vyhlaska-o-pristupnosti-10.aspx", title: "Vyhláška č. 64/2008 Sb"
            o přístupnosti.
          .col-12.col-md-6.copyright
            &copy; 2017-
            = Date.today.year
            = t('ministery_justice_name')
